<app-navbar></app-navbar>
<div class="content">
 
<div class="loginn">
   <h1>WELCOME TO <br><br><span class="i_learn">i-Learn</span></h1>
   <h2 >Please sign in using your iLearn username and password.</h2>

<h2 *ngIf="error">Username of Password Incorrect</h2>

<form id="login" (ngSubmit)="onSubmit()">
    <div class="input-div">
        <label for="username">Username: </label>
        <input
            id="username"
            type="text"
            name="username"
            maxlength="50"
            required
            [(ngModel)]="username"
        />
    </div><br>
    
    <div class="input-div">
        <label for="password">Password: </label>
        <input
            id="password"
            type="password"
            name="password"
            minlength="8"
            required
            [(ngModel)]="password"
        />
    </div><br>
    <input class="input" type="submit" value="Login"/>

    <input class="input" type="register" value="Create an iLearn account."/>
</form>
</div>
</div>
