.input-div{
    margin-bottom: 10px;
}
.navbar {
    background: linear-gradient(90deg, #011638 0%, #351d5d 100%);
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 10;
    position: fixed;
    width: 100%;
}

.nav-menu {
    display: grid;
    grid-template-columns: repeat(5, auto);
    grid-gap: 10px;
    list-style: none;
    text-align: center;
    width: 70vw;
    height: 80px;
    justify-content: end;
    margin-right: 2rem;
}

.nav-item {
    display: flex;
    align-items: center;
    height: 80px;
    margin-left: 50px;
    margin-right: 50px;
}

.nav-link {
    color: #ebebeb;
    font-size: 1.5rem;
    text-decoration: none;
    cursor: pointer;
    align-self: center;
}

.close-icon {
    color: #ebebeb;
}

.menu {
    color: #ebebeb;
}


.login{
    margin-top: 150px;
    margin-left: 500px;
}

.input-div{
    font-weight: 800;
    font-size:medium;


}
h1 {
    font-family: "Copperplate, Papyrus, fantasy";
    text-align: center;
    text-shadow: 2px 2px 5px red;
    font-weight: bold; 
    font-style: oblique;
    font-size: 80px;
    color:#ebebeb;
}
img {
    width: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
h2{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size:150%
}
  .login-info{
      text-align: center;
     font-size:larger;
     font-style: normal;
     font-family: Georgia, 'Times New Roman', Times, serif;
margin-top: 600px;
margin-left: 600px;
margin-right: 500px;
margin-bottom: 700px;

  }