<app-navbar></app-navbar>
<h1>Register New User</h1>

<div class="registration-container">
  <form id="register" (ngSubmit)="onSubmit()">
    <div class="row mb-3">
        <label for="firstName" class="col-sm-2 col-form-label">First Name</label>
        <div class="col-sm-10">
          <input 
          [(ngModel)]="firstName" 
          name="firstName" 
          type="text" 
          class="form-control"  
          id="firstName">
        </div><br>
      </div>

      <div class="row mb-3">
        <label for="lastName" class="col-sm-2 col-form-label">Last Name</label>
        <div class="col-sm-10">
          <input 
          [(ngModel)]="lastName" 
          name="lastName" 
          type="text" 
          class="form-control"  
          id="lastName">
        </div><br>
      </div>

    <div class="row mb-3">
      <label for="email" class="col-sm-2 col-form-label">Email</label>
      <div class="col-sm-10">
        <input 
        type="text" 
        class="form-control" 
        [(ngModel)]="email" 
        name="email" 
        id="email">
      </div>
    </div><br>

    <div class="row mb-3">
      <label for="password" class="col-sm-2 col-form-label">Password</label>
      <div class="col-sm-10">
        <input 
        type="text" 
        class="form-control" 
        [(ngModel)]="password" 
        id="password"
        name="password"> 
      </div>
    </div>

    <div class="row mb-3">
        <h4>Choose one: </h4>
        <div class="radio-btn">
    <input  name="type" type="radio" aria-label="Checkbox for following text input" [(ngModel)]="roleId" value="1"
    class="radio-group" id="teacher">
  <label class="form-check-label" for="defaultCheck1">Teacher</label><br>
  <input name="type" type="radio" aria-label="Checkbox for following text input" [(ngModel)]="roleId" value="2" class="radio-group"
    id="student">
  <label class="form-check-label" for="defaultCheck1">Student</label><br><br>
</div>
</div>

    <button type="submit" class="btn btn-primary">Sign in</button>
  </form>
</div>
