<div>
    <nav class="navbar">
        <a class="navbar-logo" href="#">
            <img class="profile-pic-icon" src="https://algesterss.eq.edu.au/ourenrolments/OpenDays/PublishingImages/enrolments/open-days/Yellow-iLearn-logo.png"/>
        </a>
        <ul class="nav-menu"> 
            <h1>View Grades</h1>
            <li class="nav-item"><a class="nav-link" href="#">Home</a></li>
            <li class="nav-item"><a class="nav-link" href="#">Logout</a></li>
                    </ul>
    </nav>

    <div class="container">
        <table class="row" *ngFor="let assign of  assigns"
        >
            <tr class="header">
                <th>AssignId</th>
                <th>Name</th>
                <th>Description</th>
                <th>Grade</th>
            </tr>

            <tr class="data">
                <td>{{assign.assignId}}</td>
                <td>{{assign.name}}</td>
                <td>{{assign.des}}</td>
                <td>{{assign.grade}}</td>
            </tr>
        </table>
    </div>

</div>
<br>
