<app-navbar></app-navbar>

<!-- //*ngFor="let post of (posts | async)" [post]="post" -->
<!-- <div *ngFor="let assign of ( assigns | async)" [assign]="assign"></div> -->

<div class="container">
<h2>Graded Assignments</h2>
    <div  *ngFor="let assign of  assigns"> 
        <div class="row">
        <p>  AssignId:  <span>{{assign.assignId}}</span></p>
        <p>  Name:  <span>{{assign.name}}</span></p>
        <p> Description:  <span>{{assign.des}}</span></p>
        <p> Grade:  <span>{{assign.grade}}</span></p>
    </div>
    </div>
    </div>


<!-- <div>
    <nav class="navbar">
        <a class="navbar-logo" href="#">
            <img class="profile-pic-icon" src="https://algesterss.eq.edu.au/ourenrolments/OpenDays/PublishingImages/enrolments/open-days/Yellow-iLearn-logo.png"/>
        </a>
        <ul class="nav-menu"> 
            <h1>View Grades</h1>
            <li class="nav-item"><a class="nav-link" href="#">Home</a></li>
            <li class="nav-item"><a class="nav-link" href="#">Logout</a></li>
                    </ul>
    </nav>

    <div class="container">
        <table class="row" *ngFor="let assign of  assigns"
        >
            <tr class="header">
                <th>AssignId</th>
                <th>Name</th>
                <th>Description</th>
                <th>Grade</th>
            </tr>

            <tr class="data">
                <td>{{assign.assignId}}</td>
                <td>{{assign.name}}</td>
                <td>{{assign.des}}</td>
                <td>{{assign.grade}}</td>
            </tr>
        </table>
    </div>

</div>
<br> -->
