<div>
    <nav class="navbar">
        <a class="navbar-logo" href="#">
            <img class="profile-pic-icon" src="https://algesterss.eq.edu.au/ourenrolments/OpenDays/PublishingImages/enrolments/open-days/Yellow-iLearn-logo.png"/>
        </a>
        <ul class="nav-menu"> 
            <h1>View Grades</h1>
            <li class="nav-item"><a class="nav-link" href="#">Home</a></li>
            <li class="nav-item"><a class="nav-link" href="#">Logout</a></li>
                    </ul>
    </nav>
</div>
<br>
