<h1 *ngIf="error">Please include a post content and try again!</h1>

<div>
    
 <form (ngSubmit)= "onSubmit()">
     <div [ngClass]="error ? 'red-outline' : 'create-container'">
         <div class="content-container">
            <img class="profile-pic-icon" 
            src="https://freepikpsd.com/media/2019/10/default-user-profile-image-png-6-Transparent-Images.png"/>
        <textarea 
        class="create-post textarea"
        name = "content"
        [(ngModel)]="content "
        cols="50"
        maxlength="180">
        placeholder="Enter text here"
    </textarea>
        </div>

        <div class="preview">
       
        <input 
        type="submit"
        value="Post Discussion"
        class= "create-post-button"
        />
    </div>
     </div>
 </form>


</div>