<mat-toolbar class="mat-elevation-z8">
    <button mat-icon-button *ngIf="sidenav.mode === 'over'" (click)="sidenav.toggle()">
        <mat-icon *ngIf="!sidenav.opened">
            menu
        </mat-icon>
        <mat-icon *ngIf="sidenav.opened">
            close
        </mat-icon>
    </button>
    iLearn 
  </mat-toolbar>
  
  <mat-sidenav-container>
    <mat-sidenav #sidenav="matSidenav" class="mat-elevation-z8">
  
        <img class="avatar mat-elevation-z8" src="https://tse2.mm.bing.net/th?id=OIP.Nopq_3anu6-V6cw-G6j5DQHaHa&pid=Api&P=0&w=300&h=300" />
  
        <h4 class="name">First Name Last Name</h4>
        <p class="designation">UserRole</p>
  
        <mat-divider></mat-divider>
  
        <button mat-button class="menu-button">
            <mat-icon>class</mat-icon>
            <span>Subjects</span>
        </button>
        <button mat-button class="menu-button">
            <mat-icon>grades</mat-icon>
            <span>View Grades</span>
        </button>
        <button mat-button class="menu-button">
            <mat-icon>chat</mat-icon>
            <span>Discussion</span>
        </button>
  
        <mat-divider></mat-divider>
  
        <button mat-button class="menu-button">
            <mat-icon>schedule</mat-icon>
            <span>Schedule</span>
        </button>
        <button mat-button class="menu-button">
            <mat-icon>calendar_today</mat-icon>
            <span>Calendar</span>
        </button>
        <button mat-button class="menu-button">
            <mat-icon>email</mat-icon>
            <span>Email</span>
        </button>
  
    </mat-sidenav>
    <mat-sidenav-content>
        <div class="content mat-elevation-z8">
            Main content here!
        </div>
    </mat-sidenav-content>
    <mat-sidenav-content>
        <div class="content mat-elevation-z8">
            Main content here!
        </div>
    </mat-sidenav-content>
    
  </mat-sidenav-container>