<!-- <mat-toolbar color="primary">
<mat-toolbar-row>
    <button mat-icon-button>
        <mat-icon (click)="sidenav.toggle();">menu</mat-icon>
    </button>
    <h1> iLearn Nagivation</h1>
</mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav opened="true" mode="side">
            <mat-nav-list>
                <a mat-nav-list>View Grades</a>
                <a mat-nav-list>View Assignments</a>
            </mat-nav-list>
        </mat-sidenav>
        <mat-sidenav-content>
            <div style="height: 88vh;">
            </div>"
        </mat-sidenav-content>
    
</mat-sidenav-container> -->

<div>
<mat-toolbar class="mat-elevation-z8">
    <button mat-icon-button *ngIf="sidenav.mode === 'over'" (click)="sidenav.toggle()">
        <mat-icon *ngIf="!sidenav.opened">
            menu
        </mat-icon>
        <mat-icon *ngIf="sidenav.opened">
            close
        </mat-icon>
    </button>
    iLearn navigation
</mat-toolbar>

<mat-sidenav-container>
    <mat-sidenav #sidenav="matSidenav" class="mat-elevation-z8">

        <img class="avatar mat-elevation-z8" src="https://freepikpsd.com/media/2019/10/default-user-profile-image-png-6-Transparent-Images.png"/> />

        <h4 class="name">User first name </h4>
        <p class="designation">User Role</p>

        <mat-divider></mat-divider>

        <button mat-button class="menu-button">
            <mat-icon>home</mat-icon>
            <span>Calendar</span>
        </button>
        <button mat-button class="menu-button">
            <mat-icon>person</mat-icon>
            <span>View Grades</span>
        </button>
        <button mat-button class="menu-button">
            <mat-icon>info</mat-icon>
            <span>Submit Assignments</span>
        </button>

        <mat-divider></mat-divider>

        <button mat-button class="menu-button">
            <mat-icon>help</mat-icon>
            <span>Help</span>
        </button>

    </mat-sidenav>
    <mat-sidenav-content>
        <div class="content mat-elevation-z8">
            Main content here!
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>
</div>