<app-navbar></app-navbar>
<br><br><br><br><br><br><br>

<div id="wrapper-viz" class="containerGrid">
    <div class="d-grid gap-2">
        <button class="btn btn-primary" type="button">Reading</button>
        <button class="btn btn-primary" type="button">Mathematics</button>
        <button class="btn btn-primary" type="button">Button</button>
        <button class="btn btn-primary" type="button">Button</button>
        <button class="btn btn-primary" type="button">Button</button>

      </div>
  </div>
