<app-navbar></app-navbar>
<!-- //*ngFor="let post of (posts | async)" [post]="post" -->
<!-- <div *ngFor="let assign of ( assigns | async)" [assign]="assign"></div> -->
<app-navbar></app-navbar>
<!-- //*ngFor="let post of (posts | async)" [post]="post" -->
<!-- <div *ngFor="let assign of ( assigns | async)" [assign]="assign"></div> -->


 <div class="container">
<h1>Assigned Assignments</h1>
<div  *ngFor="let assign of  assigns"> 
    <div class="row">
    <p>  AssignId:  <span>{{assign.assignId}}</span></p>
    <p>  Name:  <span>{{assign.name}}</span></p>
    <p> Description:  <span>{{assign.des}}</span></p>
    <p> Grade:  <span>{{assign.grade}}</span></p>
</div>
</div>
</div>



